*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App{
    margin-bottom: 20px;
}

.head{
  margin-top: 50px;
}

form{
  display: flex;
  flex-direction: column;
}

.card-title{
  height: 2vh;
}

.input-class,.desc{
  margin-top: 20px;
  border-radius: 6px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
